<html>
  <head></head>
  <body>
    <p> Welcome to the site {{name}}!</p>
    <form action="name" method="POST">
        <input name="username" placeholder="Sid"/>
        <input type="submit"/>
    </form>
  </body>
</html>